.project{
    @extend .module;
    height: px(1192);
    background: #FFF;
}
.project-tab{
    margin: 0 auto;
    width: px(750);
}
.project-tab-bar{
    margin: 0 auto px(20);
    width: px(440);
    height: px(70);
    .tab-item{
        @extend .fl;
        padding: px(10);
        width: px(220);
        height: px(70);
        line-height: px(50);
        font-size: px(28);
        text-align: center;
        color: #FFF;
        background: #45AAF0;
        &.active{
            background: #1164AA;
        }
        &:nth-child(2){
            background: #1164AA;
        }
        div{
            display: none;
            text-align: center;
            font-weight: initial;
            font-size: px(16);
        }
    }
}
.project-tab-content{
    @extend .relative;
    margin: 0 auto;
    width: px(600);
    .project-tit{
        @extend .relative;
        width: px(552);
        font-size: px(28);
        &::after{
            @extend .show-in-bl, .absolute;
            left: px(124);
            top: px(24);
            content: "";
            width: px(50);
            height: px(2);
            background: #45AAF0;
        }
        .en{
            color: #666;
            font-size: px(18);
        }
    }
}
.project-content-item{
    @extend .hide;
    width: px(600);
    height: px(882);
    background: #F4F4F4;
    &.active{
        @extend .show;
    }
}
.project-img{
    @extend .fl;
    width: px(600);
    height: px(282);
    img{
        width: 100%;
        height: 100%;
    }
}
.project-desc{
    @extend .fl;
    padding: px(24);
    width: px(600);
    height: px(600);
    color: #666;
}
.project-body{
    font-size: px(26);
    ol{
        padding-left: px(40);
    }
    li{
        margin-bottom: px(20);
        color: #4D4D4D;
        list-style-type: inherit;
    }
}
.project-btns{
    @extend .absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: px(100);
    height: px(40);
}
.left-btn, .right-btn{
    @extend .fl, .show;
    width: px(50);
    height: px(40);
    z-index: 2;
    cursor: pointer;
}
.left-btn{
    background: url(/static/images/left.png) no-repeat;
    background-size: px(50) px(40);
}
.right-btn{
    background: url(/static/images/right.png) no-repeat;
    background-size: px(50) px(40);
}